:root {
  --q-size-xs: 0;
  --q-size-sm: 600px;
  --q-size-md: 1024px;
  --q-size-lg: 1440px;
  --q-size-xl: 1920px;
}

// Max width at which point
// current size ends
$breakpoint-xs: 599px !default;
$breakpoint-sm: 1023px !default;
$breakpoint-md: 1439px !default;
$breakpoint-lg: 1919px !default;

// sorry for long line; we need .sass and it doesn't support multi-line list
$sizes: (
  "sm": (
    $breakpoint-xs + 1,
  ),
  "md": (
    $breakpoint-sm + 1,
  ),
  "lg": (
    $breakpoint-md + 1,
  ),
  "xl": (
    $breakpoint-lg + 1,
  ),
) !default;

$breakpoint-xs-max: (map-get($sizes, "sm") - 0.02) !default;

$breakpoint-sm-min: map-get($sizes, "sm") !default;
$breakpoint-sm-max: (map-get($sizes, "md") - 0.02) !default;

$breakpoint-md-min: map-get($sizes, "md") !default;
$breakpoint-md-max: (map-get($sizes, "lg") - 0.02) !default;

$breakpoint-lg-min: map-get($sizes, "lg") !default;
$breakpoint-lg-max: (map-get($sizes, "xl") - 0.02) !default;

$breakpoint-xl-min: map-get($sizes, "xl") !default;

// Custom Variables
$size-xs: 600 !default;
$size-sm: 1024 !default;
$size-md: 1440 !default;
$size-lg: 1920 !default;

:export {
  sizeXs: $size-xs;
  sizeSm: $size-sm;
  sizeMd: $size-md;
  sizeLg: $size-lg;
}
